:root {
  --transition-time: 200ms;
  --transition-ease: ease-in-out;
  --transition-ease-out: ease-out;
  --transition-time-quick: 100ms;
  --scale-grow: 1.02;
  --scale-shrink: 0.98;
  --active-filter: brightness(0.9);
}

.button-scale-effect:not(:disabled):not([data-disabled]):not([disabled]) {
  transition:
    transform var(--transition-time) var(--transition-ease),
    filter var(--transition-time) var(--transition-ease),
    background-color var(--transition-time) var(--transition-ease);
}

.button-scale-effect:hover:not(:disabled):not([data-disabled]):not([disabled]),
.button-scale-effect:focus:not(:disabled):not([data-disabled]):not([disabled]) {
  transform: scale(var(--scale-grow)) !important;
}

.button-scale-effect:active:not(:disabled):not([data-disabled]):not([disabled]),
.button-scale-effect-active:not(:disabled):not([data-disabled]):not([disabled]) {
  transition:
    transform var(--transition-time) var(--transition-ease),
    filter var(--transition-time) var(--transition-ease),
    background-color var(--transition-time) var(--transition-ease);
  transform: scale(var(--scale-shrink)) !important;
  filter: var(--active-filter);
}

/* .button-scale-effect:hover,
.button-scale-effect:focus,
.button-scale-effect:active {
  top: 0 !important;
  translate: 0 !important;
} */

.input-scale-effect:not(:disabled):not([data-disabled]):not([disabled]) {
  transition:
    transform var(--transition-time) var(--transition-ease),
    background-color var(--transition-time) var(--transition-ease),
    box-shadow var(--transition-time) var(--transition-ease);
}

.input-scale-effect:hover:not(:disabled):not([data-disabled]):not([disabled]),
.input-scale-effect:focus-within:not(:disabled):not([data-disabled]):not([disabled]),
.input-scale-effect:focus:not(:disabled):not([data-disabled]):not([disabled]) {
  transform: scale(var(--scale-grow)) !important;
}

.mantine-NavLink-root {
  transition: all var(--transition-time) var(--transition-ease);
}

.card-scale-effect {
  transition: transform var(--transition-time) var(--transition-ease);
}

.card-scale-effect:hover {
  transform: scale(var(--scale-grow));
}

.mantine-Combobox-option[data-combobox-selected="true"] .mantine-Text-root {
  color: white !important;
}

.mantine-Combobox-option {
  transition: background-color var(--transition-time-quick) var(--transition-ease);
}

.mantine-Combobox-option[data-combobox-selected="true"] {
  background-color: var(--mantine-primary-color-light);
}

.mantine-Combobox-option:hover {
  background-color: var(--mantine-primary-color-light);
}

.transform-none {
  transform: none !important;
}

.mantine-Combobox-search {
  transition: none;
}

.mantine-Combobox-search:focus-within {
  border-color: var(--mantine-primary-color-filled);
  border-width: 1px;
  transition: none;
}

.mantine-Combobox-search:not(:focus-within) {
  transition: border-color var(--transition-time) var(--transition-ease);
}
