.filledButton:disabled:not([data-loading]),
.filledButton[data-disabled]:not([data-loading]) {
  background: var(--mantine-color-branding-primary-filled);
  border-color: transparent;
  color: var(--mantine-color-white);
  opacity: 0.55;
}
