
# Configuration that is used for development build locally

## App URLs
NEXT_PUBLIC_WEBAPP_URL="http://localhost:3002"
NEXT_PUBLIC_WEBSITE_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3001"

## Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_<your-publishable-key>"
NEXT_PUBLIC_MAPS_URL="https://api.mapy.com"
NEXT_PRIVATE_MAPS_KEY=""

## Analytics (optional)
DO_NOT_TRACK=true
NEXT_TELEMETRY_DISABLED=1