# Configuration that is used for production build in Vercel

## App URLs
### Shared envs across all apps in Vercel shared envs
NEXT_PUBLIC_WEBAPP_URL="https://app.usebondery.com"
NEXT_PUBLIC_WEBSITE_URL="https://usebondery.com"

## Analytics (optional)
### Shared envs across all apps in Vercel shared envs
DO_NOT_TRACK=true
NEXT_TELEMETRY_DISABLED=1
