# Configuration that is used for development build locally

## App URLs
NEXT_PUBLIC_WEBAPP_URL="http://localhost:3002"
NEXT_PUBLIC_WEBSITE_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3001"

## Supabase Configuration
PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_<your-publishable-key>"
PRIVATE_SUPABASE_SECRET_KEY="sb_secret_<your-secret-key>"

## Analytics (optional)
DO_NOT_TRACK=true

## Email Configuration (for feedback notifications)
PRIVATE_EMAIL_HOST="smtp.example.com"
PRIVATE_EMAIL_PORT=465
PRIVATE_EMAIL_USER="robot@example.com"
PRIVATE_EMAIL_PASS="your-email-password"
PRIVATE_EMAIL_ADDRESS="robot@example.com"

## Handshake key, so the API can verify the request is coming from supabase (for crons, webhooks...)
PRIVATE_BONDERY_SUPABASE_HTTP_KEY="bondery<your-handshake-key>"